{% extends 'app.html' %}

{% block content %}
<style>
    /* Add your CSS styles here */
    h1 {
        color: blue;
        font-size: 20px;
        text-align: center;
    }

    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    body {
        background-color:#f2f2f2;
    }
</style>

<h1>Welcome to Hashtek Solutions</h1>

<div class="center">
    <div>
        <a href="login" class="btn btn-primary">Login</a>
        <a href="register" class="btn btn-secondary">Register</a>
    </div>
</div>

<!-- Add Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% endblock %}